.navbar {
  background-color: #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h3 {
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.container ul {
  margin-left: auto;
  margin-right: 7rem;
}

.container ul li {
  display: inline-block;
  list-style: none;
  padding: 1rem 1.5rem;
  margin-left: 1rem;
  background-color: #555;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}

.container ul li:hover{
    background-color: #666;
}

.container ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}

.active{
    color: rgb(250, 202, 146) !important;
}

.cart{
    display: flex;
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    background-color: red;
    display: block;
    height: 2.7rem;
    width: 6.3rem;
}